@font-face {
    font-family: Cantarell;
    src: url(./fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: Cantarell;
    src: url(./fonts/Cantarell-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Cantarell;
    src: url(./fonts/Cantarell-Oblique.ttf);
    font-style: oblique;
}

@font-face {
    font-family: Cantarell;
    src: url(./fonts/Cantarell-BoldOblique.ttf);
    font-weight: bold;
    font-style: oblique;
}

body, html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Cantarell, sans-serif;
    color: #555;
}

video {
    display: block;
    max-width: 90%;
    margin: auto;
}

#markdown nav img {
    display: inline-block !important;
    margin: 0 0 0 0 !important;
    height: 24px;
    vertical-align: middle;
}

#markdown nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #3584E4;
    position: fixed;
}

#markdown nav ul li {
    padding: 0 12px 0 12px;
    font-size: larger;
    height: 100%;
    display: table;
    color: white;
}

#markdown nav ul li a {
    text-decoration: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

#markdown nav ul li:hover {
    background-color: #62A0EA;
}

#markdown nav ul li span {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 560px) {
    #markdown nav ul li span strong {
        display: none;
    }

    #markdown nav ul li {
        font-size: large;
        padding: 0 6px 0 6px;
    }
}

h1, h2, h3, p {
    max-width: 1000px !important;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

#markdown img, #markdown p {
    display: block;
    margin: auto;
    max-width: 100%;
}

#markdown img, #markdown video {
    margin-top: 24px;
    margin-bottom: 60px;
}

#markdown p {
    width: 90%;
    font-size: large;
}

#markdown hr {
    border: none;
    background-color: #c0c0c0;
    width: 40%;
    height: 1px;
    margin: 30px auto;
    clear: both;
}

#markdown {
    padding-bottom: 48px;
}
